src/main/mule/demo-world-timezone-poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8735c179-daf6-4f7d-852b-86ed9da72c7b" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="c268652e-d3b1-47b3-92f7-b1f937585ca5" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="demo-world-timezone-pocFlow" doc:id="5178e4c1-7cd4-4585-b064-f9a5b64ee138" >
		<http:listener doc:name="Listener" doc:id="265e2f99-e588-4c87-8ef8-8a3bb2dd73c5" config-ref="HTTP_Listener_config" path="/api/{region}/{city}"/>
		<http:request method="GET" doc:name="Calling world time zone API" doc:id="9d69868d-ed15-4407-bfb8-5828ad25976e" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/json
---
{
	region : attributes.uriParams.region,
	city: attributes.uriParams.city
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Response Mapping" doc:id="526ca0e8-737d-4da5-ac89-56e8ee64c6b1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"TimeZone": payload.timezone,
	"Day of the week": payload.'day_of_week',
	"Day of the year": payload.'day_of_year'
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logging Response" doc:id="f4ee8ec2-2730-4111-865b-ec9c63b386c5" message="#[payload]"/>
	</flow>
</mule>
